.heading {
    margin-top: 100px;
    justify-content: center; 
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.lab-container {
    margin-left: 335px;
    margin-top: 10px;
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #ffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 15px;
}

.input-box label {
    color: #333;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .input-box textarea {
    margin-top: 5px;
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 1rem; 
    color: #707070;
    font-weight: 400;
    resize: vertical; 
    min-height: 100px;
}

.form .input-box textarea:focus {
    border-color: #007bff; 
    outline: none; 
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
   color: #333;
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 8px; 
}

.gender input {
    accent-color: #0054A6;
}

.gender label {
    color: #707070;
}

.form button {
    height: 55px;
    width: 100%;
    background-color: #0054A6;
    color: white;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
}

.form button:hover {
    background-color: red;
    color: white;
}