.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 25px;
    color: #0054A6;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
}

body.dark-mode .sidebar ul li a {
    color: #e0e0e0;
}

body.dark-mode .menu-toggle {
    color: #66b0ff;
}