<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_adminDoctor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Staff</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-clinic-medical"></i>
                        <div class="title">BafrowCare</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin.html">
                        <i class="fas fa-th-large"></i>
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_appointment.html">
                        <i class="fas fa-stethoscope"></i>
                        <div class="title">Appointments</div>
                    </a>
                </li>
                <li>
                    <a href="admin.html">
                        <i class="fas fa-users"></i>
                        <div class="title">Admins</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_staff.html">
                        <i class="fas fa-users"></i>
                        <div class="title">Staff</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_patient.html">
                        <i class="fas fa-user"></i>
                        <div class="title">Patients</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_department.html">
                        <i class="fas fa-puzzle-piece"></i>
                        <div class="title">Departments</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_clinic.html">
                        <i class="fas fa-briefcase-medical"></i>
                        <div class="title">Clinics</div>
                    </a>
                </li>
                <li>
                    <a href="super_admin_setting.html">
                        <i class="fas fa-briefcase-medical"></i>
                        <div class="title">Settings</div>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="fas fa-right-from-bracket"></i>
                        <div class="title">Logout</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                <i class="fas fa-bell"></i>
                <div class="user">
                    <span class="profile-text">Profile</span>
                </div>
            </div>
            <div class="doctor-available">
                <div class="heading">
                    <h2>Staff</h2>
                    <a href="#" class="btn">Add Staff</a>
                </div>
                <table class="available">
                    <thead>
                        <td>Doctor ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Position</td>
                        <td>Deparatment</td>
                        <td>Contact</td>
                        <td>email</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6789506767</td>
                            <td>Saloom</td>
                            <td>Singhateh</td>
                            <td>Doctor</td>
                            <td>Gynocology</td>
                            <td>3678945</td>
                            <td>Salom@gmail.com</td>
                            <td>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>6789506767</td>
                            <td>Saloom</td>
                            <td>Singhateh</td>
                            <td>Lab Technician</td>
                            <td>Gynocology</td>
                            <td>3678945</td>
                            <td>Salom@gmail.com</td>
                            <td>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>6789506767</td>
                            <td>Saloom</td>
                            <td>Singhateh</td>
                            <td>Doctor</td>
                            <td>Gynocology</td>
                            <td>3678945</td>
                            <td>Salom@gmail.com</td>
                            <td>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>6789506767</td>
                            <td>Saloom</td>
                            <td>Singhateh</td>
                            <td>Pharmacist</td>
                            <td>Gynocology</td>
                            <td>3678945</td>
                            <td>Salom@gmail.com</td>
                            <td>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>6789506767</td>
                            <td>Saloom</td>
                            <td>Singhateh</td>
                            <td>Doctor</td>
                            <td>Gynocology</td>
                            <td>3678945</td>
                            <td>Salom@gmail.com</td>
                            <td>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    
</body>
</html>